# Kafka consumer connection
KAFKA_BOOTSTRAP_SERVERS=98.88.99.206:9092,34.195.107.7:9092,54.221.160.63:9092
KAFKA_GROUP_ID=customer-crm
KAFKA_TOPIC=andrew-id.customer.evt

# Gmail SMTP configuration
SMTP_USERNAME=example@gmail.com
SMTP_APP_PASSWORD=example
SMTP_FROM_ADDRESS=example@gmail.com
