# Network interface binding
BIND_ADDRESS=0.0.0.0:3000

# Database connection
DATABASE_ENDPOINT=localhost:3306
DATABASE_USERNAME=root
DATABASE_PASSWORD=
DATABASE_NAME=test

# Recommendation service
RECOMMENDATION_ENDPOINT=ENDPOINT_HERE

# Gemini connection
GEMINI_API_KEY=KEY_HERE
